@using BugTrackerPM.Models
@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">

    <h1 class="font">BugTrackerPM</h1>
    <div class="row">
        <div class="col-md-4">
            <h1><span class="label label-primary label-custom font"><span class="glyphicon glyphicon-calendar"></span>  Projects: @Model.viewProjects.Count </span></h1>


        </div>
        <div class="col-md-4">
            <h1><span class="label label-primary label-custom font"><span class="glyphicon glyphicon-tags"></span>  Tickets: @Model.viewTickets.Count </span></h1>

        </div>
        <div class="col-md-4">
            <h1><span class="label label-primary label-custom font"><span class="glyphicon glyphicon-user"></span>  Users: @Model.viewUsers.Count </span></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="list-group font">
            <h2 class="list-group-item active  font"><i>Tickets by Status</i></h2>
            <h4 class="list-group-item font">Created: @Model.created</h4>
            <h4 class="list-group-item font">Assigned: @Model.assigned</h4>
            <h4 class="list-group-item font">In Process: @Model.inProcess</h4>
            <h4 class="list-group-item font">Review: @Model.review</h4>
            <h4 class="list-group-item font">Resolved: @Model.resolved</h4>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel">
            <h2 class="panel-heading panel-primary font">Newly Created Tickets:</h2>
            <div class="panel-body">
                <table class="table myTable">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Submitter</th>
                            <th>Assigned</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.createdTickets)
                        {
                            <tr>
                                <td>@item.Description </td>
                                <td>@item.Submitter.DisplayName</td>
                                <td>@item.Assigned.DisplayName</td>
                                <td>@Html.ActionLink("Edit", "Edit", "Tickets", new { id = @item.Id }, null)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr />
@*<div class="row">
    <h2>Example Login Users:</h2>
    <div class="col-md-3">
        <ul>
            <li> @Html.ActionLink("Login: Otto von Bismark", "ClickDirect", "Account", new { role = 1 }, null)  </li>
            <li style="list-style-type:none">
                <ul>
                    <li>Role: Submitter</li>
                    <li>Email: Bismark@germany.com</li>
                    <li>Password: Bismark123!</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li> @Html.ActionLink("Login: Napoleon Bonapart", "ClickDirect", "Account", new { role = 2 }, null)  </li>
            <li style="list-style-type:none">
                <ul>
                    <li>Role: Developer</li>
                    <li>Email: Napoleon@France.com</li>
                    <li>Password: Bonapart123!</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul>
            <li> @Html.ActionLink("Login: George Washington", "ClickDirect", "Account", new { role = 3 }, null)  </li>
            <li style="list-style-type:none">
                <ul>
                    <li>Role: Project Manager</li>
                    <li>Email: BigG@usa.com</li>
                    <li>Password: Washington123!</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li> @Html.ActionLink("Login: Mahatma Gandhi", "ClickDirect", "Account", new { role = 4 }, null)  </li>
            <li style="list-style-type:none">
                <ul>
                    <li>Role: Admin</li>
                    <li>Email: Gandhi@india.com</li>
                    <li>Password: India123!</li>
                </ul>
            </li>
        </ul>
    </div>
</div>*@
