@using BugTrackerPM.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="well col-md-8">
    <h2 class="font">@ViewBag.Title.</h2>
</div>

<div class="row">
    <div class="col-md-8 well">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3 class="well font">Use a local account to log in.</h3>
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group well">
                    <div class="col-md-2" style="text-align:right"><h4 class="font">Email: </h4></div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group well">
                    <div class="col-md-2" style="text-align:right"><h4 class="font">Password: </h4></div>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-primary" />
                    </div>
                </div>
                <h3>
                    @Html.ActionLink("Register as a new user", "Register")
                </h3>
                //Enable this once you have account confirmation enabled for password reset functionality
                    <h3>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </h3>
            }
        </section>
    </div>   
</div>
@*<hr />

<<div class="row">
    <h2>Example Login Users:</h2>
    <div class="col-md-3">
        <ul>
            <li> @Html.ActionLink("Login: Otto von Bismark", "ClickDirect", "Account", new { role = 1 }, null)  </li>
            <li style="list-style-type:none">
                <ul>
                    <li>Role: Submitter</li>
                    <li>Email: Bismark@germany.com</li>
                    <li>Password: Bismark123!</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li> @Html.ActionLink("Login: Napoleon Bonapart", "ClickDirect", "Account", new { role = 2 }, null)  </li>
            <li style="list-style-type:none">
                <ul>
                    <li>Role: Developer</li>
                    <li>Email: Napoleon@France.com</li>
                    <li>Password: Bonapart123!</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul>
            <li> @Html.ActionLink("Login: George Washington", "ClickDirect", "Account", new { role = 3 }, null)  </li>
            <li style="list-style-type:none">
                <ul>
                    <li>Role: Project Manager</li>
                    <li>Email: BigG@usa.com</li>
                    <li>Password: Washington123!</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li> @Html.ActionLink("Login: Mahatma Gandhi", "ClickDirect", "Account", new { role = 4 }, null)  </li>
            <li style="list-style-type:none">
                <ul>
                    <li>Role: Admin</li>
                    <li>Email: Gandhi@india.com</li>
                    <li>Password: India123!</li>
                </ul>
            </li>
        </ul>
    </div>



</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}