@using BugTrackerPM.Models
@model AdminCompositeViewModel
@{ 
    ViewBag.Title = "Current Users";
}
<img src="~/Content/Images/Sunglasses.jpeg" style="float: right; width:250px; height: 175px; margin-bottom: 15px; margin-right: 50px; border-radius: 25px;" />
<h2>User Management Dashboard</h2>

<table class="table display myTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Projects</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (AdminIndexViewModel item in Model.details)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.user.DisplayName) </td>
                <td>@Html.DisplayFor(modelItem => item.user.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.roleNameList)</td>
                <td>@Html.DisplayFor(modelItem => item.projectNameList)      </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.user.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.user.Id })
                    @*| @Html.ActionLink("Delete", "Delete", new { id = item.user.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>