@model BugTrackerPM.Models.Project

@{
    ViewBag.Title = "Details";
}

<img src="~/Content/Images/Fireworks.jpeg" style="float: right; width:250px; height: 175px; margin-bottom: 15px; margin-right: 50px; border-radius: 25px;" />
<h2 style="margin-top:70px">Project Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal" style="margin-top:45px;">
        <dt><label>Project Title:</label></dt>
        <dd>@Html.DisplayFor(model => model.ProjectTitle)</dd>
        <dt><label>Create Date:</label></dt>
        <dd>@Html.DisplayFor(model => model.CreateDate)</dd>
        <dt><label>Update Date:</label></dt>
        <dd>@Html.DisplayFor(model => model.UpdateDate)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
