@model BugTrackerPM.Models.Project

@{
    ViewBag.Title = "Details";
}

<img src="~/Content/Images/Fireworks.jpeg" style="float: right; width:250px; height: 175px; margin-bottom: 15px; margin-right: 50px; border-radius: 25px;" />
<div class="well col-md-8">
    <h2 class="font">Project Details: @Model.ProjectTitle </h2>
    <h4 class="font">Associated Ticket Count: @Model.Tickets.Count </h4>
    <h4 class="font">Associated User Count: @Model.Users.Count </h4>
    <h4 class="font">Project Create Date: @Model.CreateDate </h4>
    <h4 class="font">Project Update Date: @Model.UpdateDate </h4>
</div>

<div>
    <div class="row" >
        <div class="col-md-12" style="margin-top:25px;">
            <h3 class="font font-color">Associated Tickets</h3>
            <table class="table display myTable">
                <thead>
                    <tr>
                        <th> Project Title</th>
                        <th> Ticket Description</th>
                        <th> Prioritiy Level</th>
                        <th> Ticket Status</th>
                        <th> Assigned User</th>
                        <th> Ticket Submitter</th>
                        <th> Create Date</th>
                        <th> Update Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tickets )
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Project.ProjectTitle) </td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.Priority.PriorityLevel)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status.StatusDescription)      </td>
                            <td>@Html.DisplayFor(modelItem => item.Assigned.DisplayName)  </td>
                            <td>@Html.DisplayFor(modelItem => item.Submitter.DisplayName) </td>
                            <td>@Html.DisplayFor(modelItem => item.CreateDate)  </td>
                            <td>@Html.DisplayFor(modelItem => item.UpdatedDate) </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit","tickets", new { id = item.Id }, null) |
                                @Html.ActionLink("Comments", "Details","Tickets", new { id = item.Id }, null ) |
                                @*@Html.ActionLink("Delete", "Delete", "Tickets", new { id = item.Id }, null)*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<h3>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</h3>
