@using BugTrackerPM.Models
@model ProjectEditViewModel

@{
    ViewBag.Title = "Edit";
}
<img src="~/Content/Images/Fireworks.jpeg" style="float: right; width:250px; height: 175px; margin-bottom: 15px; margin-right: 50px; border-radius: 25px;" />
<div class="well col-md-8">
    <h2 class="font">Manage Project: @Model.project.ProjectTitle</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-top: 63px;">
            <div class="panel panel-primary col-md-10">
                <h3 class="panel-heading">Currently Assigned Resources</h3>
                <div class="panel-body">
                    @using (Html.BeginForm("RemoveAssignment", "Projects", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", Model.project.Id)

                        @Html.ListBox("SelectedCurrentAssignments", Model.assignedUsers, new { style = "width:250px; color: steelblue;" })
                        <div class="col-md-10">
                            <input type="submit" class="btn btn-primary" value="Remove Highlighted Assignments" />
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 20px;">
            <div class="panel panel-primary col-md-10">
                <h3 class="panel-heading">Currently Unassigned Resources</h3>
                <div class="panel-body">
                    @using (Html.BeginForm("AddAssignment", "Projects", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", Model.project.Id)


                        @Html.ListBox("SelectedAbsentAssignments", Model.absentUsers, new { style = "width:250px; color: steelblue;" })
                        <div class="col-md-10">
                            <input type="submit" class="btn btn-primary" value="Add Highlighted Assignments" />
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="row">
       
        <h4>@Html.ActionLink("Return to Index", "Index")</h4>
    </div>

</div>
