@using BugTrackerPM.Models
@model TicketDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<img src="~/Content/Images/Mosquito.jpeg" style="float: right; width:250px; height: 175px; margin-bottom: 15px; margin-right: 50px; border-radius: 25px;" />

<h2 style="margin-top:70px">Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <div class="row" style="margin-top:45px">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt><label>Submitting User:</label></dt>
                <dd>@Model.ticket.Submitter.DisplayName </dd>
                <dt><label>Assigned User:</label></dt>
                <dd>@Model.ticket.Assigned.DisplayName  </dd>
                <dt><label>Ticket Priority:</label></dt>
                <dd>@Model.ticket.Priority.PriorityLevel         </dd>
                <dt><label>Project:</label></dt>
                <dd>@Model.ticket.Project.ProjectTitle         </dd>
                <dt><label>Ticket Status:</label></dt>
                <dd>@Model.ticket.Status.StatusDescription       </dd>        
                <dt><label>Ticket Type:</label></dt>
                <dd>@Model.ticket.TicketType.TypeDescription         </dd>
                <dt><label>Ticket Description:</label></dt>
                <dd>@Model.ticket.Description         </dd>
                <dt><label>Create Date:</label></dt>
                <dd>@Model.ticket.CreateDate.ToString("MM/dd/yyyy" )       </dd>
                <dt><label>Update Date:</label></dt>
                <dd>@Model.ticket.UpdatedDate.ToString("MM/dd/yyyy" )        </dd>
            </dl>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ticket.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    <!-- ====================== Ticket Comment ===================================================-->
        <div class="col-md-8">
            <h3>Comments</h3>
            @Html.ActionLink("Create New Comment","CreateTicketComment", new { id = Model.ticket.Id } )
            
            <hr />
            <table class="table display myTable">
                <thead>
                    <tr>
                        <th> Comment Date</th>
                        <th> Commenter</th>
                        <th> Comment</th>
                        <th></th>
                    </tr>
                <tbody>

                        @foreach (var item in Model.ticketComments )
                        {
                            <tr>
                                <td>@Html.DisplayFor(i => item.CreateDate  ) </td>
                                <td>@Html.DisplayFor(i=> item.Author.DisplayName  )  </td>
                                <td>@Html.DisplayFor(i=> item.Body)  </td>
                                <td>@Html.ActionLink("Edit", "EditTicketComment",new { id = item.Id },null )  </td>
                            </tr>
                        }
                </tbody>
            </table>
            <hr />
     <!-- ====================== Ticket Attachment ===================================================-->

            <h3>Attachments</h3>
            @Html.ActionLink("Create An Attachment", "CreateTicketAttachment", new { id = Model.ticket.Id })    
            <hr />
            <table class="table display myTable" >
                <thead>
                    <tr>
                        <th> Attchment Image</th>
                        <th> Attachment Date</th>
                        <th> Contributor</th>
                        <th> Description</th>
                        <th></th>
                    </tr>
                <tbody>

                    @foreach (var item in Model.ticketAttachments )
                    {
                        <tr>
                            <td><img class="img-responsive" src="@item.AttachmentURL" alt="Attachment Image" height="50" width="50" /></td>
                            <td>@Html.DisplayFor(i => item.CreateDate ) </td>
                            <td>@Html.DisplayFor(i => item.Author.DisplayName )  </td>
                            <td>@Html.DisplayFor(i => item.AttachementDescription )    </td>
                            <td>@Html.ActionLink("Edit", "EditTicketAttachment", new { id = item.Id }, null)  </td>
                        </tr>
                    }
                </tbody>
            </table>

    <!-- ====================== Ticket History ===================================================-->

            <h3>Ticket History</h3>
            <hr />
            <table class="table display myTable">
                <thead>
                    <tr>
                        <th>  Date</th>
                        <th> Ticket Activity</th>                        
                    </tr>
                <tbody>

                    @foreach (var item in Model.ticketHistories)
                    {
                        <tr>
                            
                            <td>@Html.DisplayFor(i => item.HistoryCreateDate )    </td>
                            <td>@Html.DisplayFor(i => item.Description )    </td>

                        </tr>
                    }
                </tbody>
            </table>





        </div>
    </div>
</div>

