@model BugTrackerPM.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Submitting User: </dt>
        <dd>@Html.DisplayFor(model=> model.Submitter.DisplayName) </dd>
        <dt>Assigned User: </dt>
        <dd>@Html.DisplayFor(model => model.Assigned.DisplayName) </dd>
        <dt>Priority:</dt>
        <dd>@Html.DisplayFor(model => model.Priority.PriorityLevel)        </dd>
        <dt>Project: </dt>
        <dd>@Html.DisplayFor(model => model.Project.ProjectTitle)        </dd>
        <dt>Ticket Status:</dt>
        <dd>@Html.DisplayFor(model => model.Status.StatusDescription)        </dd>        
        <dt>Ticket Type:</dt>
        <dd>@Html.DisplayFor(model => model.TicketType.TypeDescription)        </dd>
        <dt>Ticket Description:</dt>
        <dd>@Html.DisplayFor(model => model.Description)        </dd>
        <dt>Create Date:</dt>
        <dd>@Html.DisplayFor(model => model.CreateDate)        </dd>
        <dt>Update Date:</dt>
        <dd>@Html.DisplayFor(model => model.UpdatedDate)        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
