@model IEnumerable<BugTrackerPM.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assigned.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority.PriorityLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.StatusDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submitter.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketType.TypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assigned.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority.PriorityLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.StatusDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Submitter.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType.TypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
