<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BugTrackerPM</title>
    
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="~/Content/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/images/ico/favicon.png">
    <meta name="description" content="The description of my page" />

    

</head>
<body>
    <div class="preloader">
        <div class="preloder-wrap">
            <div class="preloder-inner">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div><!--/.preloader-->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("index", "home")"><img src="~/images/logo.png" alt="logo"></a>
                <div class="navbar-custom navbar-custom-left">
                    <a class="navbar-brand" href="@Url.Action("index", "home")">BugTrackerPM</a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                        <li>@Html.ActionLink("User", "Index", "Admin")</li>
                    </ul>*@
                <div class="navbar-custom">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Sidebar menu</span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <div class="nav navbar-nav sidebar-custom">
                                <h2>Quick Links</h2>
                                <div class="list-group">
                                    <a href="@Url.Action("index", "Projects")" class="list-group-item">
                                        <h4 class="list-group-item-heading">Projects</h4>
                                        <p class="list-group-item-text">See Your Projects</p>
                                    </a>
                                    <a href="@Url.Action("index", "Tickets")" class="list-group-item">
                                        <h4 class="list-group-item-heading">Tickets</h4>
                                        <p class="list-group-item-text">See Your Tickets</p>
                                    </a>
                                    <a href="@Url.Action("index", "Admin")" class="list-group-item">
                                        <h4 class="list-group-item-heading">Users</h4>
                                        <p class="list-group-item-text">Manage User Roles (Admin)</p>
                                    </a>
                                    @*@Html.ActionLink("Projects", "index", "projects", new { @class = "list-group-item" })

                                    @Html.ActionLink("Tickets", "index", "tickets", new { @class = "list-group-item" })
                                    @Html.ActionLink("Account Management", "index", "Admin", new { @class = "list-group-item" })*@
                                    @*<li><a href="#">Menu Item 4</a></li>*@
                                    @*<li><a href="#">Reviews <span class="badge">1,118</span></a></li>*@
                                </div>
                            </div>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Aaron Rowan - Bug TrackerPM</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/datatables.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
    <script src="~/Scripts/app.js"></script>
</body>
</html>
